@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: /*rgb(230, 230, 230)*/ white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.banner {
  background-image: url('/banner.jpg');
  background-size: cover;
  background-position: center;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #646a93;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.carousel-wrapper {
  overflow: hidden; 
  width: 100%;
  filter: grayscale(1);
}

.carousel-content {
  display: flex;
  gap: 10rem;
  width: calc(200% + 5rem);
  animation: move 20s linear infinite;
}

.carousel-content > div {
  /*flex-shrink: 0;*/
  min-width: calc(100vw - 100rem);
}



@keyframes move {
  0% {
    transform: translateX(0);
  } 
  100% {
    transform: translateX(-50%);
  }
}

.box-wrapper {
  /*background: #dde8e9;*/
  /*box-shadow:  48px 48px 96px #777d7e,
               -48px -48px 96px #ffffff;*/
  filter: drop-shadow(48px 48px 96px #777d7e);
}